$b-gray: rgba(100, 100, 100, 1);
$dark-gray: rgba(40, 40, 40, 1);
$light-gray: rgba(70, 70, 70, 1);
$bookend-bg: rgba(200,200,200, .7);
$bookend-fg: rgba(200,200,200, 1);
$arrow-fg:rgba(100,100,100, 1);
// $arrow-fill:rgba(200,200,250, 1);
$arrow-fill: #343a40;
$arrow-bg:rgba(200,200,200, 1);
$arrow-stroke1:rgba(0,0,0, 0.5);
$arrow-stroke2:rgba(70,70,70, 1);

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@mixin transform($property) {
	-moz-transform: $property;
	-ms-transform: $property;
	-webkit-transform: $property;
	transform: $property;
}

@mixin transition($opts) {
	-moz-transition: #{$opts};
	-ms-transition: #{$opts};
	-webkit-transition: #{$opts};
	transition: #{$opts};
}

@mixin animation($name, $speed, $easing, $delay, $direction: none) {
	-moz-animation: $name $speed $easing $delay $direction;
	-ms-animation: $name $speed $easing $delay $direction;
	-webkit-animation: $name $speed $easing $delay $direction;
	animation: $name $speed $easing $delay $direction;
}

@import "svg";

html {
	scroll-behavior: smooth;
}

.border-top-bottom-gray {
	border-bottom: solid 1px rgba(100, 100, 100, 1) !important;
	border-top: solid 1px rgba(100, 100, 100, 1) !important;
}

.border-top-gray {
	border-top: solid 1px rgba(100, 100, 100, 1) !important;
}

.border-gray {
	border-color: $b-gray !important;
}

.border-1-gray {
	border: 2px solid $b-gray;
	&:active {
		border: 2px solid $b-gray;
	}
	&:hover {
		border: 2px solid $b-gray;transition: color .2s linear, text-decoration .2s linear
	}transition: color .2s linear, text-decoration .2s linear
}transition: color .2s linear, text-decoration .2s linear
transition: color .2s linear, text-decoration .2s linear
.text-black {transition: color .2s linear, text-decoration .2s linear
	color: #000;transition: color .2s linear, text-decoration .2s linear
}

.bg-light-gray {
	background-color: $light-gray;
}

.bg-gray {
	background-color: $dark-gray;
}

.page-wrapper > nav {
	caret-color: transparent;
}

.table-wrapper {
	margin-top: 50px;
}

.add-part-form {
	margin-top: 50px;
}

.index-wrapper {
	height: 93vh;
	margin-top: 10px;
}

.task-group > .row {
	flex-wrap: nowrap;
	height: 100%;
	overflow: scroll;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

%card {
	box-sizing: content-box;
	caret-color: transparent;
	display: block;
	flex-shrink: 0;
	float: none;
	height: min-content;
	margin-top: 1rem;
	overflow-x: hidden;
	width: 400px;
	margin-left: 1rem;
}

.card {
	@extend %card;
	&:last-child {
		@extend %card;
		margin-bottom: 1rem;
	}
}

.card > .card-body > #desc {
	overflow: hidden;
}

.card > #task {
	overflow: hidden;
}

.task-text {
	overflow: hidden;
	width: 88%;
	color: #fff;
	display: inline-block;
}

.closebutton {
	border-radius: .5rem !important;
	opacity: 1;
	padding: 0;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	text-shadow: 0 1px 0 #fff;
	color: #aaa;
	width: 10%;
	margin-left: 5px;
	margin-top: .3rem;
	//border: 2px solid #999 !important;
	transition: color .2s linear, text-decoration .2s linear, opacity .2s linear, background-color .1s linear, border .15s linear;
	&:hover {
		background-color: #7b7;
		text-decoration: none;
		opacity: .75;
		border: 0 !important;
	}
}

%group {
	border-left: solid 1px #000;
	box-shadow: 5px 5px 2px rgba(60, 60, 60, 1);
	margin-right: 1rem;
	max-height: 90vh;
	max-width: 500px;
	min-height: none;
	overflow: hidden;
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
	position: relative;
	caret-color: transparent;
}

.group {
	@extend %group;
	&:last-child {
		@extend %group;
		border-right: solid 1px #000;
		margin-right: none;
	}
}

.group-header {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
	padding: .75rem 1.25rem;
	margin: 0;
	background-color: rgba(0,0,0,.3);
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.bookend {
	display: none;
	background-color: transparent;
	min-height: 2.5rem;
	max-height: 2.5rem;
	min-width: 100%;
	padding: 0;
	padding-top: .75rem;
	margin: 0;
	bottom: 0;
	position: sticky;
}

.bookend-cont {
	display: flex;
	margin: 0 !important;
	background-color: $bookend-bg;
	height: 2.5rem;
	min-width: 100%;
	position: relative;
	transition: height .15s ease;
	width: 100%;
	bottom: 0;
	position: absolute;
}

.bookend:hover > .bookend-cont {
	height: 1.5rem;
}

.bookend-arrow {
	//padding: 0.5rem 1.25rem;
	//border-radius: 50%;
	//margin-top: 2rem;
	//background-color: $bookend-fg;
	transform: translate(0,-1em);
	margin: 0 auto !important;
	display: flex;
	align-items: center !important;
	width: 3rem;
	height: 3rem;
	background-color: transparent;
	position: relative;
}

.rounded-lg {
	border-radius: .5rem !important;
}

.rounded-left-lg {
	border-bottom-left-radius: .5rem !important;
	border-top-left-radius: .5rem !important;
}

.hw-normal {
	height: auto;
	width: auto;
}

.vh-100 {
	height: 100vh;
}

.vw-100 {
	width: 100vw;
}

.text-1-5 {
	font-size: 1.5rem;
}

#loader {
	height: 100vh;
	margin: none;
	padding-left: 50%;
	padding-top: 25%;
	position: absolute;
	width: 100vw;
	z-index: 10000;
}

.wsn > .list-group-item {
	max-height: 1.75em;
	overflow: hidden;
	transition: max-height .5s ease;
	white-space: normal !important;
}

.overhover {
	max-height: 6em !important;
}

.wsn > .list-group-item > em {
	text-overflow: ellipsis;
}

.bottom-shadow {
	box-shadow: 0 5px 3px rgba(60, 60, 60, 1);
}

.hovergrow {
	box-shadow: 3px 5px 2px rgba(60, 60, 60, 1);
	@include transform(translate(0,0));
	transition: box-shadow .15s 200ms ease, transform .15s 200ms ease;
	&:hover {
		box-shadow: 6px 1em 2px rgba(50, 50, 50, .5);
		@include transform(translate(0,-1em));
		@include transition(box-shadow .35s 0s ease, transform .35s 0s ease);
	}
}

.fadeinout {
	@include animation(fadeinout, 1s, linear, infinite);
}

@include keyframes(fadeinout) {
	from {
		opacity: 1;
	}

	to {
		opacity: .1;
	}
}

/* Add animation to "page content" */
.animate-bottom {
	@include transform(translate(0, -3em));
	@include animation(animatebottom, 700ms, linear, 1s, forwards);
}

@include keyframes(animatebottom) {
	0% {
		transform: translate(0, -3em);
	}

	60% {
		transform: translate(0, 1em);
	}

	75% {
		transform: translate(0, 1.5em);
	}

	100% {
		transform: translate(0, 0);
	}
}