//*********************
//		Arrow styles
//*********************

svg #arrow {
	fill: $arrow-fill;
	stroke: $arrow-stroke2;
	stroke-width: 1;
}

svg #outline {
	stroke: none;
	fill: none;
	color: none;
}

svg .outline {
	stroke-width: 0.8;
	stroke: $arrow-stroke1;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	//animation-name: border;
	// animation-duration: 4s;
	// animation-iteration-count: infinite;
}

svg #background {
	fill: $arrow-bg;
	paint-order: fill stroke markers;
	box-shadow: 2px 1px 1px black;
}

@keyframes border { //TODO: Remove animation
	0% {
		stroke-dashoffset: 1000;
	}

	50% {
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dashoffset: 1000;
	}
}

//*********************
//		Checkbox styles
//*********************

#checkbox {
	height: 1.5rem;
	width: 2em;
	& #ic_check_box_24px,& #ic_check_box_outline_blank_24px,& #ic_indeterminate_check_box_24px {
		stroke-width: .26458;
	}	& #background {
		fill: #646464;
		stroke-linecap:round;
		stroke-linejoin:round;
		stroke-width:.65914;
		//stroke:#646464;
		stroke: #fff;
		@include transition("fill .5s ease, stroke .5s ease");
	}	& #checkfill {
		height: 0;
		fill:#2a2;
		stroke-linecap:round;
		stroke-linejoin:round;
		stroke-width:.26458;
		stroke:#646464;
		@include transition("fill .5s ease, stroke .5s ease, height 1s .25s ease-out");
	}	& #checkout {
		fill:#000000;
		display: none;
		@include transition("fill .5s ease, stroke .5s ease, display .5s ease");
	} & #unchecked {
		fill: #000;
		@include transition("fill .5s ease, stroke .5s ease, display .5s ease");
	} & #disabled {
		fill: #000;
		display: none;
		@include transition("fill .5s ease, stroke .5s ease, display .5s ease");
	}
}



@include keyframes(click) {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}