<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<!--<link rel="stylesheet" href="/assets/css/custom.css">-->
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
	<script type="text/javascript" src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
	<title><%= title %></title>
</head>
<style>
.table-wrapper {
	margin-top: 50px;
}

.add-part-form {
	margin-top: 50px;
}
.index-wrapper {
	margin-top: 10px;
	height: 93vh;
}
.task-group > .row {
	overflow: scroll;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	flex-wrap: nowrap;
	height: 100%;
}
.task-group > .row > .card {
	display: inline-block;
	float: none;
	overflow-x: hidden;
	box-sizing: content-box;
	width: 400px;
	height: min-content;
	flex-shrink: 0;
}
.wsn {
	white-space: normal;
}
.rounded-lg {
	border-radius: 0.5rem !important;
}
.rounded-left-lg {
	border-top-left-radius: 0.5rem !important;
	border-bottom-left-radius: 0.5rem !important;
}
.hw-normal {
	height: auto;
	width: auto;
}
</style>
<body>
	<div class="page-wrapper">
		<nav class="navbar navbar-light bg-light mb-0">
			<span class="navbar-brand mb-0 h1" ><a href="/"><strong>Soli</strong><strong style="color: red">Desk</strong> <em>Tasks</em></a></span>
			<span class="m-0 float-right">
			<p class="align-middle text-dark d-inline">Sort: </p>
			<select id="sort" class="form-control mr-2 align-middle d-inline-block hw-normal" onchange="sortCards(this.options[this.selectedIndex].value)">
				<option value="bucketa">Bucket ASC</option>
				<option value="bucketd">Bucket DES</option>
				<option value="taska">Task ASC</option>
				<option value="taskd">Task DES</option>
				<option value="statusa">Status ASC</option>
				<option value="statusd">Status DES</option>
				<option value="timea">Time ASC</option>
				<option value="timed">Time DES</option>
				<option value="notesa">Notes ASC</option>
				<option value="notesd">Notes DES</option>
				<option value="desca">Description ASC</option>
				<option value="descd">Description DES</option>
			</select>
			<a class="text-primary align-middle" href="/add" title="Add a New Task">Add a Task</a>
			</span>
		</nav>
