<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="css/lib/bootstrap.min.css">
	<link rel="stylesheet" href="css/custom.css">
	<script type="text/javascript" src="js/lib/vue.js"></script>
	<script type="text/javascript" src="js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/lib/lib.js"></script>
	<title><%= title %></title>
</head>

<body class="bg-dark">
	<div id="loader" class="text-dark bg-light vh-100 vw-100 row">
		<p class="lead inline-block fadeinout">Loading...</p>
		<div class="spinner-border text-dark"></div>
	</div>
	<div id="addModal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form id="add-task" class="add-task-form">
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="bucket">Bucket</label>
								<input type="text" class="form-control" name="bucket" id="bucket" value="" required>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="task">Task</label>
								<input type="text" class="form-control" name="task" id="task" value="" required>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="status">Status</label>
								<select id="status" name="status" class="form-control" required>
									<option selected></option>
									<option>Open</option>
									<option>Closed</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label for="time">Time</label>
								<input type="number" class="form-control" name="time" id="time" value="" required>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="description">Description</label>
								<input type="text" class="form-control" name="description" id="description" placeholder="Description"
									value="" required>
							</div>
							<div class="form-group col-md-6">
								<label for="notes">Notes</label>
								<input type="textarea" class="form-control" name="notes" id="notes" placeholder="Notes" value=""
									required>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					<button id="submit" type="button" class="btn btn-success">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<div id="editModal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form id="edit-task" class="add-task-form">
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="bucket">Bucket</label>
								<input type="text" class="form-control" name="bucket" id="bucket" value="" required>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="task">Task</label>
								<input type="text" class="form-control" name="task" id="task" value="" required>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="status">Status</label>
								<select id="status" name="status" class="form-control" required>
									<option selected></option>
									<option>Open</option>
									<option>Closed</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label for="time">Time</label>
								<input type="number" class="form-control" name="time" id="time" value="" required>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="description">Description</label>
								<input type="text" class="form-control" name="description" id="description" placeholder="Description"
									value="" required>
							</div>
							<div class="form-group col-md-6">
								<label for="notes">Notes</label>
								<input type="textarea" class="form-control" name="notes" id="notes" placeholder="Notes" value=""
									required>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					<button id="submit" type="button" class="btn btn-success">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<div class="page-wrapper animate-bottom">
		<nav class="navbar navbar-dark bg-dark mb-0 bottom-shadow">
			<span class="navbar-brand mb-0 h1"><a href="/"><strong>Soli</strong><strong style="color: red">Desk</strong>
					<em>Tasks</em></a></span>
			<span class="m-0 float-right">
				<p class="align-middle text-dark d-inline">Sort: </p>
				<select id="sort" class="form-control bg-dark text-light mr-2 align-middle d-inline-block hw-normal"
					onchange="sortCards(this.options[this.selectedIndex].value)">
					<option value="bucketa">Bucket ASC</option>
					<option value="bucketd">Bucket DES</option>
					<option value="taska">Task ASC</option>
					<option value="taskd">Task DES</option>
					<option value="statusa">Status ASC</option>
					<option value="statusd">Status DES</option>
					<option value="timea">Time ASC</option>
					<option value="timed">Time DES</option>
					<option value="notesa">Notes ASC</option>
					<option value="notesd">Notes DES</option>
					<option value="desca">Description ASC</option>
					<option value="descd">Description DES</option>
				</select>
				<a class="text-primary align-middle" href="" data-toggle="modal" data-target="#addModal"
					title="Add a New Task">Add a Task</a>
			</span>
		</nav>