<% include partials/header.ejs %>
	<div class="table-wrapper">
		<% if (error) {%>
			<p class="text-center"><%= error%></p>
		<% } else { %>
			<p class="text-center">Error, please contact administrator.</p>
		<% } %>
	</div>
</div>
</body>
</html>
